<!doctype html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport'
        content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Document</title>
</head>
<body>
<form id='loginform' method='post' action='/auth/login'>
  <p>
    <label for='email'>
      Email
      <input name='email' id='email' form='loginform'>
    </label>
  </p>
  <p>
    <label for='password'>
      Password
      <input name='password' id='password' form='loginform'>
    </label>
  </p>
  <p>
    <input type="submit" value="Submit" form='loginform'>
    <input type="reset" value="Reset" form='loginform'>
  </p>
</form>
</body>
</html>
